/* ESTILO DE LA PÁGINA PRINCIPAL */

/* ==============================================
    GENERAL
=============================================== */

body{
	overflow-x: hidden;
	overflow-y: auto;
    font-family: "Comic Sans";
    font-weight: bold;
    font-size: 25px;
}

.animationload {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:999999;
}
.manualidades, .figuras, .pulseras{
    display: inline;

	text-align: center;
    margin-top: 60px;
    background-image:url(wiki/fondo.jpeg);
    background-color:#fff;
    margin: 50px 100px 100px 100px;
    border-width: 3px;
    border-radius: 60px;  

}

/* -----------------------------------------------------------------------
   FONDO EN MOVIMIENTO
------------------------------------------------------------------------- */

.logo{
    padding-bottom: 5%;
}
.logo p{
    color: #ffffff;
    padding-top: 20px;
    font-style: italic;
}
#home .large-header {

    background-image: url('wiki/fondo.jpeg');
	background-size: cover;
}

/* LOGO */
.home-main {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

#productos{
    text-align:center;
    background-image:url(wiki/fondo_cuadros.jpeg);
    margin: 50px 100px 100px 100px;
    border-width: 3px;
    border-radius: 60px;  
    vertical-align: top;
    margin: 10px
}

#Lienzos{
    border-style: solid;
    border-width: 3px;
    border-radius: 60px;
    margin: 30px 20px 30px 20px;
}

#Lienzos:hover {
    border:rgb(123, 173, 230) 5px solid;
    border-radius: 60px;
}

#Figuras{
    border-style: solid;
    border-width: 3px;
    border-radius: 60px;
    margin: 30px 20px 30px 20px;
}

#Figuras:hover {
    border:rgb(123, 173, 230) 5px solid;
    border-radius: 60px;
}

#Manualidades{
    border-style: solid;
    border-width: 3px;
    border-radius: 60px;
    margin: 30px 20px 30px 20px;
}

#Manualidades:hover {
    border:rgb(123, 173, 230) 5px solid;
    border-radius: 60px;
}


/* -----------------------------------------------------------------------
   ESTILO DEL FONDO
------------------------------------------------------------------------- */

.features{
    padding: 120px 0px 600px 0px;
}   
.features h4{
    color: #fff;
}
#features{
    background:url("wiki/pattern.png"), ("fondo_cuadros.jpeg");
}

/*-------------------------------------------------------------------
    PIE DE PÁGINA
-------------------------------------------------------------------*/

.footer{
    text-align: center;
    padding-bottom: 100px;
}
.copyright{
    text-align: center;
    padding-top: 10px;
}